.background {
  width: 100%;
  height: 100%;
  background: url(../../images/register-from.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-image {
    width: 300px;
    height: 300px;
    background: url(../../images/login-form.jpg) no-repeat center center fixed;
  }
  .register-image {
    width: 300px;
    height: 400px;
    background: url(../../images/login-form.jpg) no-repeat center center fixed;
  }
  .create-account {
    color: black;
  }
  .create-account >h4 {
    margin-top: 10px;
  }
  .create-account >h4:hover {
    font-weight: 600;
  }
}