html, body, #root {
  height: 100%;
}
html > body {
  font-family: 'Gloria Hallelujah', cursive;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
