.garden-background {
  width: 100%;
  height: 100%;
  padding: 10px; 
  background: url(../../images/land-image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  .notification-confirm {
    width: 250px;
    height: 160px;
    background: #39CCCC;
    position: absolute;
    top: 20%;
    left: 30%;
    padding: 10px;
    animation-name: deleteConfirm;
    animation-duration: 1s;
    .delete-button {
      margin-right: 10px;
    }
  }
  @keyframes deleteConfirm {
    0%   {opacity: 0.5; top:0px;}
    100% {opacity: 1; top:20%;}
  }
  // cursor: url(../../images/95232-200.png), auto !important;
  .control-center {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    .growing-tree {
      position: relative;
      > span {
        position: absolute;
        bottom: -12px;
        right: -14px;
        color: white;
        font-size: 18px;
        background: #FF4136;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
      }
    }
    .tree-table {
      position: absolute;
      top: -250px;
      left: 300px;
      background: #fff4bb;
      width: 600px;
      height: 220px;
      padding: 10px;
      > i {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 25px;
        color: #FF4136;
        cursor: pointer;
      }
    }
    .tree-table {
      display: flex;
      .item { 
        height: 80px;
        margin-right: 20px;
      }
    }
    .close-table {
      display: none;
    }
    .control-image {
      width: 50px;
      height: 50px;
      margin-top: 5px;
    }
    .control-image:hover {
      animation: shake 4s infinite;
      animation-delay: 0;
    }
    @keyframes shake {
      0% {
        transform: skewY(5deg);
      }
      50% {
        transform: skewY(-5deg);
      }
      100% {
        transform: skewY(0deg);
      }
    }
  }
}

.land-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 325px;
  height: 195px;
  top: 52%;
  left: 23%;
  position: absolute;
  z-index: 100;
  transform: skewX(-24deg);
  .land-item {
    background: #7BC20C;
    width: 65px;
    height: 65px;
    border: 1px solid #EDBC38;
    display: flex;
    justify-content: center;
    align-items: center;
    .tree-image {
      width: 70%;
      height: 70%;
      transform: skewX(24deg);
      animation: feeling 4s infinite running;
    }
    @keyframes feeling {
      0% {
        transform: skewY(20deg);
      }
      100% {
        transform: skewY(-20deg);
      }
    }
  }
}

.header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .information {
    display: flex;
    color: azure;
    font-weight: 600;
    .avatar {
      .avatar-image {
        width: 70px;
        height: 70px;
        border-radius: 5px;
        border: 3px salmon solid;
      }
      > p {
        font-size: 14px;
        color: azure;
        text-align: center;
      }
    }
    .level-and-money {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      .level {
        text-align: center;
        float: left;
        > p {
          margin-bottom: 0;
        }
        .column-bar {
          font-size: 18px;
          width: 200px;
          border-radius: 50px;
          height: 30px;
          background: #ffffff;
          color: #001f3f;
          border: 2px #0074D9 solid;
        }
      }
      .money {
        display: flex;
        align-items: center;
        .money-image {
          width: 40px;
          height: 40px;
        }
        > span {
          font-size: 30px;
          color: #fff4bb;
          text-shadow: 1px 1px #FFDC00;
        }
      }
    }
  }
  .setting {
    display: flex;
    flex-direction: column;
    .setting-icon {
      background: #ffffff;
      color: #001f3f;
      margin-bottom: 10px;
      padding: 3px;
      border-radius: 5px;
      border: 2px #001f3f solid;
      cursor: pointer;
    }
    .setting-control {
      position: relative;
      .setting-table {
        position: absolute;
        top: 32px;
        right: -1px;
        background: #fff4bb;
        width: 220px;
        padding: 10px;
      }
    }
    .close-table {
      display: none;
    }
  }
}